h1,
p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
  padding: 0px;
  margin: 0px; 
}

#root{
  padding: 0px;
  margin: 0px;
}

a{
  text-decoration: none;
  color: white;
  margin-right: 2vw;
  font-weight: 600;
  font-size: large;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav{
  background-color: black;
}

.nav{
  width: 100%;
  padding-top: 5vh;
  padding-bottom: 5vh;
  margin: 0;
  background-color: black;
}

.navText{
  color: white;
  font-weight: bolder;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.splashText{
  font-size: 15px;
  padding-left: 20px;
  font-weight: bolder;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.splashText:hover{
  text-decoration: underline;
}


body{
  margin: auto;
}

.splashDiv{
  background-image: url("https://cdn.mos.cms.futurecdn.net/6RGfrfBKrAdN8KkTTzqzA3-1200-80.jpg");
  height: 70vh;
  width: 100%;
  background-size:     cover;                     
  background-repeat:   no-repeat;
  background-position: center center;  
  padding: 0px;
  display:inline-block; 
  margin:0;
  opacity: 0.6;
}

.splashDiv2{
  background-image: url("https://www.shiply.com/img/article/man-and-van/540/man-with-a-van2.jpg");
  height:50vh;
  width:100%;            
  background-repeat:   no-repeat;
  background-position: center center;  
  padding: 0px;
  display:inline-block; 
  background-size: contain;
  border: 1px solid white;
}

.innerSplashDiv{
  padding: 5vw;
  color:azure;
}

.outerSplashDiv{
  background-color: black;
  color: white;
  display: flex;
  width: 100%;
  height: 15vh;
  margin-top: 2em;
  justify-content: center;
}

.splashButton{
  background-color: #F6BE00;
  color: white;
  text-shadow: black 0px 0px 10px;
  font-weight: 700;
  font-size: medium;
  padding-left: 37vw;
  padding-right: 37vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.splashDiv3{
  background-color: #F6BE00;
  margin: 2vw;
  padding-top: 0.1vw;
  padding-right: 2vw;
  padding-left: 2vw;
}

.textDiv{
  margin:1.5vw;
}

.splashButton2{
  background-color: black;
  color: white;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  margin-bottom: 1vw;
}

.over-tile{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  grid-gap: 2em;
  padding-right: 2em;
  padding-left: 2em;
  padding-top: 2em;
}

.van-image{
  width: 100%;
}

.host-van-type{
  margin-top: 2vh;
  background-color: yellow;
  color: black;
  font-size: large;
  font-weight: 600;
  padding: 1vw;
  border: 0vmax;
  border-radius: 0px 20px 20px;
}

.van-type{
  background-color: black;
  padding: 0.5em;
  color: white;
  display: block;
  text-align: center;
  justify-content: center;
}

.hostVans{
  display: block;
  min-height: 61vh; 
}

.hostVansList{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  grid-gap: 2em;
  padding-right: 2em;
  padding-left: 2em;
}

.van-tile-host{
  display: flex;
  align-items: center;
  background-color: whitesmoke;
  border: 1px solid black;
  margin: 1em;
  padding-block: 18px;
  padding-left: 24px;
}

.van-tile-host-detail{
  display: table;
  background-color: whitesmoke;
  border: 1px solid black;
  width: 95vw;
  max-width:100%;
  margin: 2vw;
  flex: 0 0 100%;
}

.van-tile-host-side{
  display: flex;
}

.van-image-host-detail{
  width: 40vw;
}

.van-image-host{
  height: 70px;
  border-radius: 5px;
  margin-right: 17px;
}

.van-info-host{
  font-size: 20px;
  font-weight: 600;
  padding-right: 0.7em;
}

.van-info-host-detail{
  font-size: 20px;
  font-weight: 600;
  padding-left: 0.7em;
}

.back-button{
  display: block;
  color: black;
  text-decoration: none;
  margin-top: 10px;
  margin-left: 26px;
  margin-bottom: 10px;
}

.host-van-detail-nav{
  background-color: whitesmoke;
  margin-top: 2vw;
}

.navLink{
  color: black;
}

.active{
  text-decoration: underline;
}

.vanInfoDiv{
  display: table;
}

.headerPara{
  display: table-cell;
}

.navVanImage{
  width: 20vw;
  margin-top: 1vw;
  margin-left: 1vw;
  margin-bottom: 5vw;
}